<%-include('header')%>
<div class="container-fluid">
  <div class="help_icon">
    <i class="fa-solid fa-circle-question"></i>
  </div>
  <div class="text-center">
    <h1><i class="fa-solid fa-file-circle-check"></i> A Title</h1>
    <p>Some Text</p>
    <form action="" method="post">
      <select class="form_language select_local" name="language" id="language">
        <option selected>Pilih Bahasa Esai</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Inggris">Inggris</option>
      </select>
    </form>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Cek satu jawaban</h2>
    </div>
    <div class="col-12 col-md-6">
      <h2>Cek banyak jawaban</h2>
    </div>
  </div>
</div>
<%-include('footer')%>
