<%-include('header')%>
<div class="container-fluid">
  <div class="help_icon">
    <i class="fa-solid fa-circle-question"></i>
  </div>
  <div class="text-center">
    <h1><i class="fa-solid fa-file-circle-check"></i> A Title</h1>
    <p>Some Text</p>
    <form action="" method="post">
      <select class="form_language select_local" name="language" id="language">
        <option selected disabled>Pilih Bahasa Esai</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Inggris">Inggris</option>
      </select>
    </form>
  </div>
</div>

<br />

<div class="container text-center">
  <div class="row">
    <div class="col-12 col-md">
      <!-- <h2>Cek satu jawaban</h2> -->
      <button class="btn btn-primary btn-lg">Cek satu jawaban</button>
      <br />
      <p class="service_explanation">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="col col-md-1 d-none d-md-block">
      <div class="vr h-100"></div>
    </div>
    <div class="col d-md-none">
      <hr />
    </div>
    <div class="col-12 col-md">
      <!-- <h2>Cek banyak jawaban</h2> -->
      <button class="btn btn-outline-primary btn-lg">Cek banyak jawaban</button>
      <br />
      <p class="service_explanation">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </p>
    </div>
  </div>
</div>
<%-include('footer')%>
